<div class="card col-12">
  <div class="card-header">
    <button class="btn btn-default btn-icon btn-round" id="btnAtrasClientePedido" onclick="CrearNuevoPedido();">
        <i class="now-ui-icons shopping_cart-simple"></i>
    </button>
    <span>Seleccione un cliente</span>
  </div>
  
  <div class="card-body">
      
  </div>
</div>
   
<div class="card col-12 table-responsive" id="tblClientesPedido">
              
</div>

<div id="fixed-btn2">
  <button class="btn btn-circle btn-xl" id="btnClientesFiltrar">
      <i class="now-ui-icons ui-1_zoom-bold"></i>
  </button>
</div>    