<div class="card">
    <div class="card-header">
        <h5>Listado de Precios</h5>
    </div>
    <div class="card-body">
        <div class="form-group">
           <button class="btn btn-round btn-warning" onclick="loadPrecios();">Todos</button>          
        </div>
    </div>
    
</div>

<div class="card table-responsive" id="tblPrecios">
        
    
</div>

<div id="fixed-btn2">
    <button class="btn btn-circle btn-xl" id="btnPreciosFiltrar">
        <i class="now-ui-icons ui-1_zoom-bold"></i>
    </button>
</div>
