<div class="card">
    <div class="card-header">
        <h5>Pedidos sin Enviar</h5>
    </div>
    <div class="card-body">
        
    </div>
    
</div>

<div class="card table-responsive" id="tblVentas">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td class="col-1-sm col-1-md">No.</td>
                <td class="col-6-sm col-6-md">Cliente</td>
                <td class="col-3-sm col-3-md">Importe</td>
                <td></td>
            </tr>
        </thead>
        <tbody id="tblDocumentos">
            
        </tbody>

    </table>
    
        
    
</div>

<!-- Modal Opciones Pedido -->
<div class="modal fade" id="ModalOpcionesPedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <span><label  id="txtIdPedido">pedido1</label> </span>
            <div class="modal-header">
              <label class="modal-title" id="txtNomClientePedido">Consumidor Final</label>
    
            </div>
            <div class="modal-body">
              <div class="col-8">
                <div class="row">
                    <label>Total Venta:</label>
                    <b>
                      <h3 class="text-right"  id="txtTotalPedido">Q 5000.00</h3>
                    </b>
                </div>
    
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal">
                <i class="now-ui-icons ui-1_simple-remove"></i>
                Cancelar
              </button>
              <button type="button" class="btn btn-info btn-round" data-dismiss="modal">
                <i class="now-ui-icons ui-1_simple-add"></i>
                Editar
              </button>
              <button type="button" class="btn btn-danger btn-round" data-dismiss="modal">
                <i class="now-ui-icons ui-1_simple-add"></i>
                Eliminar
              </button>
            </div>
          </div>
        </div>
      </div>

<!-- botón nuevo -->
<div id="fixed-btn2">
    <button class="btn btn-primary btn-circle btn-xl" id="btnNuevoPedido" onclick="CrearNuevoPedido();">+</button>
</div>

<style>

</style>
