<div class="card">
    <div class="card-header">
        <h5 id="lbTituloVentas">Pedidos sin Enviar</h5>
        <button class="btn btn-info btn-icon btn-round btn-sm" data-dismiss="modal" id="btnPedidosPendientes" onclick="dbSelectDocumentos(document.getElementById('tblDocumentos'),1);">
            <i class="now-ui-icons design_bullet-list-67"></i>
        </button>Pendientes
        <button class="btn btn-danger btn-icon btn-round btn-sm" data-dismiss="modal" id="btnPedidosEnviados" onclick="dbSelectDocumentos(document.getElementById('tblDocumentos'),0);">
            <i class="now-ui-icons ui-1_check"></i>
        </button>Enviados
    </div>
    <div class="card-body">
   
    </div>
    
</div>

<div class="card table-responsive" id="tblVentas">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td class="col-1-sm col-1-md">No.</td>
                <td class="col-6-sm col-6-md">Cliente</td>
                <td class="col-3-sm col-3-md">Importe</td>
                <td></td>
            </tr>
        </thead>
        <tbody id="tblDocumentos">
            
        </tbody>

    </table>
    
        
    
</div>

<!-- Modal Opciones Pedido -->
<div class="modal fade" id="ModalOpcionesPedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <span class="text-right"><label class="text-primary" id="txtIdPedido">pedido1</label> </span>
            <div class="modal-header">
              <label class="modal-title" id="txtNomClientePedido">Consumidor Final</label>
    
            </div>
            <div class="modal-body">
              <div class="col-8">
                <div class="row">
                    <label>Total Venta:</label>
                    <b>
                      <h3 class="text-right"  id="txtTotalPedido">Q 5000.00</h3>
                    </b>
                </div>
    
              </div>

            </div>
            <div class="">
                <div class="card">
                    <button type="button" class="btn btn-secondary btn-icon btn-round btn-lg" data-dismiss="modal" id="btnVentasCancelar">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                    Cancelar
                </div>
                <div class="card">
                    <button class="btn btn-info btn-icon btn-round btn-lg" id="btnVentasEditar">
                        <i class="now-ui-icons ui-1_lock-circle-open"></i>
                    </button>
                    Editar
                </div>
                <div class="card">
                    <button type="button" class="btn btn-danger btn-icon btn-round btn-lg" id="btnVentasEliminar">
                        <i class="now-ui-icons media-1_button-power"></i> 
                    </button>
                  Borrar Pedido
                </div>
                <div class="card">
                    <button type="button" class="btn btn-primary btn-icon btn-round btn-lg" id="btnVentasEnviar">
                        <i class="now-ui-icons ui-1_send"></i> 
                    </button>
                  Enviar
                </div>
         
            </div>
          </div>
        </div>
</div>

<!-- botón nuevo -->
<div id="fixed-btn2">
    <button class="btn btn-success btn-circle btn-xl" id="btnNuevoPedido" onclick="CrearNuevoPedido();">+</button>
</div>

<style>

</style>
