<div class="card col-12" id="VentasInicio">
    <div class="card-header">
        <span>Nueva Venta<span>
        <div>
          <b>
            <h3 class="text-right text-primary" id="txtTotalVenta">
              Q 0.00
            </h3>
          </b>
        </div>
    </div>
    <div class="card-body">
     
      <button id="btnMostrarLista" class="btn btn-warning btn-round btn-icon" data-toggle="modal" data-target="#ModalListadoProductos">
        <i class="now-ui-icons design_bullet-list-67"></i>
      </button>
            
      <button id="btnCancelarVenta" class="btn btn-default btn-round btn-sm">
        <!--<i class="now-ui-icons shopping_cart-simple"></i>-->
        Cancelar
      </button>

      <button id="btnGuardarVenta" class="btn btn-success btn-round btn-sm">
          <i class="now-ui-icons shopping_cart-simple"></i>
          Guardar
      </button>

    </div>
</div>

<div class="card col-12">
  <!-- Contenedor de la lista de productos -->
  <div id="contenedorVentas">


    
  </div>
</div>

<!-- Modal cantidad producto -->
<div class="modal fade modal-black" id="ModalCantidadVenta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <label class="modal-title" id="txtDesProducto">Azucar don Justo Cabal Kilo</label>

        </div>
        <div class="modal-body">
          <div class="col-8">
            <div class="row">
              <b id="txtCodMedida">UNIDAD</b>
            </div>
            
            <div class="form-group">
                <label>Cantidad : </label>
               <input type="number" class="form-control" id="txtCantidad" value="1">
            </div>
            <div class="col-12">
                <label>Precio: </label>
                <label class="text-primary" id="txtPrecioProducto">Q500</label>
                <label>Subtotal:</label>
                <label class="text-primary" id="txtSubTotal">Q500</label>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal" id="btnCancelarModalProducto">
            <i class="tim-icons icon-simple-remove"></i>
            Cancelar
          </button>
          <button type="button" class="btn btn-primary btn-round" data-dismiss="modal" id="btnAgregarProducto">
            <i class="tim-icons icon-simple-add"></i>
            Agregar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Lista Productos -->
<div class="modal fade" id="ModalListadoProductos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <label class="modal-title" id="">Productos Agregados al Pedido</label>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="table table-responsive">
            <table>
              <thead>
                <tr>
                  <td class="col-4">Producto</td>
                  <td class="col-2">Medida</td>
                  <td class="col-1">Cantidad</td>
                  <td class="col-2">Subtotal</td>
                  <td class="col-1"></td>
                </tr>
              </thead>
              <tbody id="tblProductosAgregados">
                
              </tbody>
            </table>  
          </div>

        </div>

      </div>
    <div class="modal-footer">
      <!--
      <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal">Cancelar</button>
      <button type="button" class="btn btn-primary btn-round" data-dismiss="modal" id="btnAgregarProducto">Agregar</button>
      -->
    </div>
  </div>
</div>
</div>

<div id="fixed-btn2">
    <button class="btn btn-circle btn-xl" id="btnPedidoFiltrarProducto">
        <i class="now-ui-icons ui-1_zoom-bold"></i>
    </button>
</div>