<div class="col-12">
        <div class="section section-pagination">
     
                <div class="container">
                          
                      <ul class="nav nav-pills nav-pills-primary nav-pills-icons">
                        <li class="nav-item">
                          <a class="nav-link active show" data-toggle="tab" href="#link7">
                            <i class="tim-icons icon-atom"></i> Ventas
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active show" data-toggle="tab" href="#link8">
                            <i class="tim-icons icon-chat-33"></i> Precios
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active show" data-toggle="tab" href="#link9">
                            <i class="tim-icons icon-settings-gear-63"></i> Clientes
                          </a>
                        </li>
                      </ul>
          
        
                  <br>
                </div>
         </div>
         <div class="card card-user">
            
             <div class="card-body">
                 <div class="author">
                     <a href="#">
                         <img class="avatar border-gray" src="./assets/img/usuario.png" alt="...">
                         <h5 class="title" id="txtNombreUsuario">Alexis Burgos</h5>
                     </a>
                     <p class="description">
                         Tel: 5725-5092
                     </p>
                 </div>
                 <p class="description text-center">
                     Agente de Ventas
                 </p>
             </div>
             <hr>
             <div class="table-responsive" id="salescontainer">
                 <!--
                 <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                     <i class="fab fa-facebook-f"></i>
                 </button>
                 <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                     <i class="fab fa-twitter"></i>
                 </button>
                 <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                     <i class="fab fa-google-plus-g"></i>
                 </button>
                 -->
             </div>
         </div>
</div>